<% content_for :title, "Requests" %>

<div id="tv_requests">
  <%= render partial: "requests/tv", locals: { requests: @requests } %>
</div>

<br>
<p> Come join us by logging into <b><%= request.base_url %></b> on your phone! </p>
