<p style="color: green"><%= notice %></p>

<% content_for :title, "Requests" %>

<h1>Coming up next... <%= @requests.first&.user.name %>!</h1>

<div id="requests">
  <% @requests[1,4].each do |request| %>
    <%= render request %>
  <% end %>
</div>

<br>
<p> Come join us by logging into <b><%= request.base_url %></b> on your phone! </p>
